<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Be the first to Transform your supply chain">

    <!-- Favicons -->
    <link href="~/images/OHLogo.png" rel="icon">
    <link href="~/images/OHLogo.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="~/fonts/gfonts.css" rel="stylesheet" />
  
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />


</head>
<body>
    <header></header>
   
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    
    <footer class="border-top footer text-muted"></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
