@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Opportunity Homes";
   
    // Razor C# regex string
    var emailRegex = @"^[^\s@]+@[^\s@]+\.[^\s@]+$"; // Regex for validating email

}
<div class="Opportunity-page flex">
    <div class="Opportunity-logo">
        <div class="Opportunity-logoInner">
            <img src="~/images/white-OHLogo.png" alt="Opportunity Homes">

            <!-- <img src="images/white-OHLogo2.png" alt="Opportunity Homes"> -->
            <h2 class="coming-soon">coming soon</h2>
        </div>
    </div>
    <div class="Opportunity-info">
        <div class="Opportunity-info-inner">
            <div class="text-blue-500">
                <h1 class="text-xl">Be the First to Transform Your Supply Chain</h1>
                <p class="mt-2 text-blue-500 opacity-70">Don't miss your chance to get Ravnized - reserve your spot now!</p>
            </div>
            <form id="waitlistForm" method="post">
                <div class="flex OpportunityInputSection">
                    <div class="theme-row flexRow-Two">
                        <div class="theme-group">
                            <label class="theme-label" for="firstName">First Name</label>
                            <input type="text" class="theme-control required" id="firstName" name="firstName" oninput="validateField(this)" />
                            <p class="text-red error d-none">Required</p>
                        </div>
                        <div class="theme-group">
                            <label class="theme-label" for="lastName">Last Name</label>
                            <input type="text" class="theme-control required" id="lastName" name="lastName" oninput="validateField(this)" />
                            <p class="text-red error d-none">Required</p>
                        </div>
                    </div>
                    <div class="theme-row">
                        <div class="theme-group">
                            <label class="theme-label" for="email">Work Email</label>
                            <input type="text" placeholder="name@company.com" class="theme-control required" id="email" name="email" oninput="validateField(this)" />
                            <p class="text-red error d-none">Required</p>
                            <p class="text-red error d-none valid-email">Hmm, that doesn't look like a valid email. Try something like name@company.com</p>
                        </div>
                    </div>
                    <div class="theme-row">
                        <div class="theme-group">
                            <label class="theme-label" for="companyName">Company Name</label>
                            <input type="text" class="theme-control required" id="companyName" name="companyName" oninput="validateField(this)" />
                            <p class="text-red error d-none">Required</p>
                        </div>
                    </div>
                    <div class="theme-row">
                        <div class="theme-group">
                            <label class="theme-label" for="companyName">Company Website <span class="text-sm opacity-40 Optional">Optional</span></label>
                            <input type="text" class="theme-control" id="companyWebsite" name="companyWebsite" />
                        </div>
                    </div>

                    <input type="hidden" name="recaptchaResponse" id="recaptchaResponse">

                    <div class="theme-row mt-10">
                        <div class="theme-group btn-outer">
                          
                            <button type="submit" id="submitButton" class="btnWaitlist">
                                Join The Waitlist
                                <div id="themeBtn-loader" class="theme-loader d-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="47" height="47" style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0);">
                                        <g>
                                            <g transform="rotate(0 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.9090909090909091s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(32.72727272727273 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.8181818181818182s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(65.45454545454545 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.7272727272727273s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(98.18181818181819 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.6363636363636364s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(130.9090909090909 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.5454545454545454s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(163.63636363636363 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.45454545454545453s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(196.36363636363637 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.36363636363636365s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(229.0909090909091 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.2727272727272727s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(261.8181818181818 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.18181818181818182s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(294.54545454545456 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="-0.09090909090909091s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g transform="rotate(327.27272727272725 50 50)">
                                                <rect fill="#ffffff" height="12" width="6" ry="6" rx="3" y="24" x="47">
                                                    <animate repeatCount="indefinite" begin="0s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
                                                </rect>
                                            </g><g></g>
                                        </g><!-- [ldio] generated by https://loading.io -->
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>


                    <div id="thankYouMessage" class="d-none ">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="25" height="25"><path d="M24,12c0-1.696-.86-3.191-2.168-4.073,.301-1.548-.148-3.213-1.347-4.413-1.199-1.199-2.864-1.648-4.413-1.347-.882-1.308-2.377-2.168-4.073-2.168s-3.191,.86-4.073,2.168c-1.548-.301-3.214,.148-4.413,1.347-1.199,1.199-1.648,2.864-1.347,4.413-1.308,.882-2.168,2.377-2.168,4.073s.86,3.191,2.168,4.073c-.301,1.548,.148,3.214,1.347,4.413,1.199,1.199,2.864,1.648,4.413,1.347,.882,1.308,2.377,2.168,4.073,2.168s3.191-.86,4.073-2.168c1.548,.301,3.214-.148,4.413-1.347,1.199-1.199,1.648-2.864,1.347-4.413,1.308-.882,2.168-2.377,2.168-4.073Zm-12.091,3.419c-.387,.387-.896,.58-1.407,.58s-1.025-.195-1.416-.585l-2.782-2.696,1.393-1.437,2.793,2.707,5.809-5.701,1.404,1.425-5.793,5.707Z"></path></svg>
                        <p> Thank you for joining the waitlist! You'll be the first to know when we're ready to launch.</p>
                       
                    </div>
                    <div id="recaptchaErrorMessage" class="d-none text-red error ">
                        Please try again and verify you are human.
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const _recaptchaSiteKey = '@Model._recaptchaSiteKey';
    </script>
            
    <script src="https://www.google.com/recaptcha/api.js?render=@Model._recaptchaSiteKey"></script>
    <script src="~/js/waitlist.js" asp-append-version="true"></script>
} 